*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    display: flex;
    width: 100%;
    height: 8vh;
}

.leftnav{
    display: flex;
    width: 50%;
    height: 8vh;
    margin-left: 5vh;
    
}

.leftnav a{
    text-decoration: none;
}

.rightnav{
    height: 8vh;
    width: 50%;
}

.rightnav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: bold;
    
    
}

.rightnav ul :hover{
    text-decoration: underline rgb(48, 123, 172) 2px;
    
}

.rightnav ul li{
    padding: 3vh;
    cursor: pointer;
}

.container{
    height: 43vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.imgcont{
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(imgs/homeless-man-5520021.jpg);
    width: 100%;
    opacity: 1;
}

.col1{
    position: absolute;
}

.col1 h1 {
    padding:100px 0px 0px 0px ;
    text-align: center;
    font-size: 50px;
    color: white;
}

.col1 h4{
    padding:0vh 0px 0px 0px ;
    font-size: 2vh;
    color:white;
}





.container p {
    font-size: 2.5rem;
    /* padding: 0.3rem 0rem 0rem 2.8rem; */
    font-weight: bold;
    letter-spacing: 0.1rem;
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #ffffff;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

/*btn*/

.btn{
    margin: 2vh;
}
.btn button{
    height: 5vh;
    border-radius: 10px;
    width: 5vw;
    font-size: 2vh;
    font-weight: bold;
    color:  rgb(15, 78, 167);
    cursor: pointer;
    

}
